@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');

:root {

}

body {
    margin: 0;
    font-size: 1em;
}

/* header */
header {
    background-color: indianred;
}
nav {
    justify-content: right;
}

/* footer */
footer {
    background-color: indianred;
}

/* login.php && register.php */
button {
    margin: 5px;
}
input {
    margin: 5px;
}
#error-box {
    width: 100%;
    background-color: red;
    border-radius: 50px;
    padding: 20px;
    color: white;
}
.error-icon {
    margin: 10px 10px 10px 20px;
}
#login-form {

}
#register-form {

}

/* REUSE flex classes */
.flex-row { display: flex; flex-direction: row; }
.flex-column { display: flex; flex-direction: column; }
.flex-wrap { flex-wrap: wrap; }
.center-hor { align-items: center; }
.center-vert { justify-content: center; }

/* REUSE width classes */
.width-5 { width: 5vw; }
.width-10 { width: 10vw; }
.width-15 { width: 15vw; }
.width-20 { width: 20vw; }
.width-25 { width: 25vw; }
.width-30 { width: 30vw; }
.width-35 { width: 35vw; }
.width-40 { width: 40vw; }
.width-45 { width: 45vw; }
.width-50 { width: 50vw; }
.width-55 { width: 55vw; }
.width-60 { width: 60vw; }
.width-65 { width: 65vw; }
.width-70 { width: 70vw; }
.width-75 { width: 75vw; }
.width-80 { width: 80vw; }
.width-85 { width: 85vw; }
.width-90 { width: 90vw; }
.width-95 { width: 95vw; }
.width-100 { width: 100%; }

/* REUSE height classes */
.height-5 { height: 5vh; }
.height-10 { height: 10vh; }
.height-15 { height: 15vh; }
.height-20 { height: 20vh; }
.height-25 { height: 25vh; }
.height-30 { height: 30vh; }
.height-35 { height: 35vh; }
.height-40 { height: 40vh; }
.height-45 { height: 45vh; }
.height-50 { height: 50vh; }
.height-55 { height: 55vh; }
.height-60 { height: 60vh; }
.height-65 { height: 65vh; }
.height-70 { height: 70vh; }
.height-75 { height: 75vh; }
.height-80 { height: 80vh; }
.height-85 { height: 85vh; }
.height-90 { height: 90vh; }
.height-95 { height: 95vh; }
.height-100 { height: 100vh; }
